  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Louise Zenasni</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <app-header></app-header>
  
    <div class="row">      
     
      <div id="leftSidebar" class="col-md-3 bg-light left-sidebar" >
          <app-left-sidebar [userProfile]="userProfile" ></app-left-sidebar>     
      </div>
     
      <div id="content" class="col-md-6"> 
          <section id="about" >
            <app-about>
                <!-- Projected content  --> 
                <div [innerHTML]="userProfile.aboutHTML" ></div>            
            </app-about> 
          </section>
          
          <section  id="skills" class="bg-light">
            <app-skills-info></app-skills-info>
          </section> 

          <section id="interests" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Interests </h2> 
                        <p> {{ userProfile.interests }}</p>
                    </div>
                </div>
            </div>
          </section>
    
          <section id="contact" class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>Contact Me</h2>
                            <app-contact-form></app-contact-form>
                        </div>
                    </div>
                </div>
          </section>

    </div>

    <div class="col-md-3 bg-light"  >
      <app-right-sidebar> </app-right-sidebar>
    </div>
  </div>
  
  
  <!-- Footer-->
  <footer class="py-5 bg-dark">
      <div class="container"><p class="m-0 text-center text-white">Copyright &copy; </p></div>
  </footer>

  
  