<section id="quote">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">                
                <h2 *ngIf="quoteFreq === 'today'; else randomHeading">Quote of the Day</h2>  
                <ng-template #randomHeading > 
                    <h2>Inspirational Quote</h2>
                </ng-template>
                <p 
                    *ngIf="quoteFreq === 'today'" 
                    id="dateParagraph"
                    style="text-align: center;"                   
                    class="lead">{{ todayDateString }}
                </p>
                <p 
                    id="quoteParagraph"
                    class="font-italic"
                    [innerHTML]="inspoQuote.quoteHtml"> 
                </p>  
                <!-- Attribution  -->
                <small> Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a></small>
            </div>
        </div> 
    </div>
</section>