.profile-img {

    border: 5px solid white;
    position: absolute;
    top: -100px;   
    z-index: 10;  
    
}

.profile-img:hover {
    transform: scale(1.2);
}

.left-sidebar {
    margin-top: 150px;
    text-align: center;
}